<h1>Idea Show page</h1>
<h2><%= @idea.title %></h2>
<p><%= @idea.body %></p>

<p><small>Posted: <%= time_ago_in_words(@idea.created_at) %> ago</small></p>

<small>Created by: <%= @idea.user.full_name %></small>
<% if can? :crud, @post %>
  <%= button_to 'Edit', edit_idea_path(@idea), method: :get %>
  <%= button_to 'Delete', idea_path(@idea), method: :delete, data: {turbo_confirm: "Are you sure?"} %>
  <% end %>
<ul>
  <% @reviews.each do |review| %>

    <li>
      <%= review.body %>
      <small>
        Reviewed <%= time_ago_in_words(review.created_at)%> ago by <%= review.user.full_name %>
      </small>
<% if can? :crud, comment %>
       <%= link_to "Delete", idea_review_path(@idea.id, review.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
       <% end %>
    </li>

  <% end %>
</ul>

<h3>Write a review</h3>
<% if @review.errors.any? %>
  <ul>
    <% @review.errors.full_messages.each do |msg| %>
      <li> <%= msg %></li>
    <% end %> 
  </ul>
<% end %>

<%= form_with(model:[@idea, @review]) do |f| %>
  <div>
    <%= f.label :body %>
    <br>
    <%= f.text_area :body, cols: 50, rows: 5 %>
  </div>
  <%= f.submit "Review" %>
<% end %>

